.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.space-font-light {
font-family: 'Space Grotesk', sans-serif;
font-weight: 500;
}

.space-font-heavy {
font-family: 'Space Grotesk', sans-serif;
font-weight: 800;
}