.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.space-font-light {
font-family: 'Space Grotesk', sans-serif;
font-weight: 500;
}

.space-font-heavy {
font-family: 'Space Grotesk', sans-serif;
font-weight: 800;
}

a {
  color: white;
}

.gradient{
   background-color: #1A1A1A;
}
a{
  text-decoration: none !important;
}

.container-height{
  min-height: 100vh;
}